body {
  background-color: lightgrey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.card {
  width: 700px;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  border-radius: 1cap;
}

a {
  text-decoration: none;
  color: rgb(24, 33, 104);
  font-size: 20px;
}
